.info-display {
    background-color: white !important;
    margin-left: 20px;
    margin-right: 20px;
}

.user-profile {
    margin-top: 15px;
}

.user-profile-image {
    margin-left: 30px;
    margin-bottom: 20px;
}