/* Chat Container Style */
.chatDiv {
    margin-top: 10px;
    height: 338px;
}

.user-list-div {
    padding: 10px;
    border-bottom: solid 1px #e8e8e8;
}

.user-list-card-body {
    padding-top: 0px !important;
}

.user-list-card-header {
    padding-top: 0px !important;
}

.user-chat-image {
    clip-path: circle(10);
}

  .chat {
    border: 1px solid #999;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    margin: 0 5px;
    background-color: white;
    pointer-events: auto;
  }
  .title {
    padding: 0.5em;
    background-color: blue;
    color: white;
  }
  .text {
    padding: 10px;
  }

  .collapse-view {
    position: fixed;
    bottom: 0;
    /* z-index: 99; */
  }

  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}