.header-container {
    margin-top: 10px;
    padding : 10px;
}
.home-container-super {
    /* background-color: #e8e8e8 !important; */
    
}

.add-post {
    margin-top: 10px;
    background-color: #e8e8e8;
}

.header-super-container {
    background-color: #e8e8e8;
}
